{% extends 'base.html' %}

{% block title %} Best/Worst Performing Stocks in the S&P500 {% endblock %}

{% block content %}

<link href="http://cdn.pydata.org/bokeh/release/bokeh-3.1.0.min.css" rel="stylesheet" type="text/css">
<link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-3.1.0.min.css" rel="stylesheet" type="text/css">


<body>
    <h1 style="margin: 20px;">Best/Worst Performing Stocks</h1>
    <div>
        <h2>Best Performing Stock</h2>
        {{ div1|safe }}
        <h2>Worst Performing Stock</h2>
        {{ div2|safe }}
    </div>     
    <div class="container" style="margin: 20px; width: auto;">
        <p><b>Best/Worst Performing Stocks based on Returns Volatility Ratio.</b></p>
        <hr>
        <p>
            Best/Worst Performing Stocks based on Returns Volatility Ratio.
        </p>
    </div>
</body>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.1.0.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.1.0.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.1.0.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-3.1.0.min.js"></script>
{{best| safe}}
{{worst| safe}}


{% endblock %}