<footer class="page-footer bg-primary">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Stocker SEWA</h5>
          <p class="grey-text text-lighten-4">Stocker SEWA for trading is the best service available. Site is still under construction. Adding Services Shortly.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Careers</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/AnuragBambardekar">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2023 Bamba Tech
      <a class="grey-text text-lighten-4 right" href="https://finance.yahoo.com/">Powered by Yahoo Finance!</a>
      </div>
    </div>
  </footer>