{% extends 'base.html' %}

{% block title %} Welcome to Cluster App {% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col s12">
            {% if posts %}
            <!-- <p>Number of posts: {{ posts|length }}</p> -->
            
            
            {% for p in posts %}
            
            <div class="row">
                <div class="col s12 m8">
                    {{ p.content|truncatewords:60|safe }}
                    <p></p>
                    <div class="mt20">
                        <a href="/blog/{{p.url}}" class="btn bg-primary">Read more...</a>
                    </div>
                </div>
                <div class="col s12 m4">
                    <img src="/media/{{ p.image }}" class="responsive-img" style="margin-top: 50px;" alt="">
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No posts available.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
